h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
.navbar {
    background-color: #000000;
}
.header{
    color: var(--primary-color);
}
.navbar a {
    color: var(--primary-color) !important;
}

h1 {
    color: var(--primary-color);
    font-size: 2.3em;
    margin-bottom: 10%;
}
.card-title {
    font-weight: bold;
    color: var(--secondary-color);
    text-align: center;
    margin: 5% 0;
}
em {
    font-weight: bold;
    color: var(--secondary-color);
    font-style: normal;
}
#nosotros {
  padding: 2%;
  font-size: 1.5em;
}
.row {
  height: 30%;
}
p {
    color: var(--third-color);
}
.card-text {
    color: var(--third-color);
    font-size: 1.2em;
}
.custom-carousel-img {
  width: 100%;
  height: 498px;
  object-fit: cover;
  object-position: center;
}
.banner-mvv {
  background-image: url("../img/burger-1.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 30px;
  margin: 5% 0;
}
.banner-faq {
  background-image: url("../img/banner-2.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 30px;
  margin: 5% 0;
}
.banner-mvv h2 {
  font-size: 2.1em;
}
.banner-faq h2 {
  font-size: 2.1em;
}
.card {
  background-color: transparent;
  border: none;
  padding: 0 15px;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

@media (min-width: 992px) {
  .row .col:not(:last-child) {
    border-right: 1px solid #0a5f44;
  }
}
@media (max-width: 991px) {
  .row .col:not(:last-child) {
    border-bottom: 1px solid #0a5f44;
  }
  .row .card {
    margin: 10% 0;
    padding: 0;
  }
  .row-cols-1 > * {
    padding: 0;
  }
  .mt-5 {
    margin-top: 3rem;
  }
}
@media (max-width: 575px) {
  .banner-mvv {
    margin: calc(-0.5 * var(--bs-gutter-x));
  }
  .banner-faq {
    margin: calc(-0.5 * var(--bs-gutter-x));
  }
  .custom-list-item {
    padding-left: 25px;
  }
  .accordion {
    margin-top: 20px;
  }
}

.custom-list-item {
  list-style: none;
  background-image: url("../img/ul-icon.webp");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 0 15%;
  padding-left: 30px;
  margin-bottom: 10px;
}

ul {
  padding: 0;
}

#valores {
  padding-left: 0;
  padding-right: 0px;
}

.accordion-item {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #0a5f44;
}

.accordion-button {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 1rem;
  font-size: 1.2em;
}

.accordion-button {
    font-size: 1.2em;
    color: var(--primary-color) !important;
    margin-left: auto;
}

.accordion-button::after {
    font-size: 1.2em;
    margin-left: auto;
    background-color: transparent !important;
    color: var(--third-color) !important;  
    transition: all 0.5s;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FE3D3D' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23FE3D3D' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
}

.accordion-body {
    background-color: transparent;
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 1.1em;
}

.accordion-header {
  font-size: 1.2em;
}

ul {
  list-style: none;
}

/* FOOTER - CAMBIAR POR GENERAL DEL PROYECTO */
.footer {
    color: #f0f0f0;
    padding: 20px 0;
    font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.footer-about,
.footer-links,
.footer-social {
  flex: 1;
  margin: 10px;
}

.footer h3 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer p, .footer a {
    color: #f0f0f0;
    font-size: 0.9em;
    text-decoration: none;
}

.footer a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}

.footer-links ul,
.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-links li,
.footer-social li {
  margin-bottom: 8px;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #444;
  font-size: 0.8em;
  color: #bbb;
}

.footer-bottom p {
  margin: 0;
}
